%table.table.table-striped.table-bordered
  %tbody
    - @properties.each do |property|
      %tr
        %td
          %strong= property.pretty_name
        %td= property.value
        %td
          = link_to resource_property_path(@resource, property), :method => 'delete', :class => 'btn btn-danger' do
            %i.icon-trash.icon-white
    = form_for [@resource, Property.new] do |f|
      = f.hidden_field :resource_id, :value => @resource.id
      %tr
        %td= f.select(:property_type_id, options_from_collection_for_select(@resource.available_property_types, :id, :pretty_name))
        %td
        %td= f.submit 'Add', :class => 'btn btn-primary'
