.row
  .span8
    = form_for @resource do |f|
      = f.text_field :name, :class => 'big'
      %div
        = f.submit 'Update', :class => 'btn btn-primary'

  .span4
    %table.table.table-striped.table-bordered
      %tbody
        - @resource.properties.each do |property|
          %tr
            %td
              %strong=  property.name
            %td= property.value
            %td
              = link_to resource_property_path(@resource, property), :method => 'delete', :class => 'btn btn-danger' do
                %i.icon-trash.icon-white
